<div class="container" style="max-width: 800px;">
	<div class="panel panel-default">
		<div class="panel-body">
	<h1>About PHR SYSTEM</h1>
	<hr>
	<h3>Mission</h3>
	<p>The goal of PHR SYSTEM is to provide the best platform for cataloging and sharing health information. 
	</p>
	<hr>
	<!-- <h3>Roots - A Message From James Steininger</h3>
	<p>Hi, my name is James Steininger and I created PHR SYSTEM. I knew I wanted to improve healthcare ever since I was a kid. An assortment of conditions, including acid reflux, asthma, pollen allergies, chronic constipation, and a choking disorder, made me and my loving mom stuck in medical clinics for a lot of my childhood. Having grown up in Silicon Valley, I found it confusing that the healthcare industry lacked great software-while tools to build great software are flourishing. Now I am 21 years old and finishing my bachelor's degree, and my dream is to make health records accessible and useful, by using cutting-edge internet technologies to finally bridge people to their caregivers, and build a sustainable system for all health data. I finally started desiging what would become PHR SYSTEM when my high school girlfriend suffered a peanut allergy attack,  witnessing the inability of the ER to bring up her medical records in a timely or effective manner. For me, that was the last straw, and I knew I had to do this. -->
	<p>
	<hr>
	<h3>Technology</h3>
	<p>PHR SYSTEM is built on top of open source technologies. </p>
	<ul>
		<li>Ruby on Rails 4.0</li>
		<li>PostgreSQL</li>
		<li>Amazon Web Services</li>
		<li>Heroku</li>
		<li>Devise</li>
		<li>Passenger</li>
		<li>Bootstrap</li>
		<li>Font Awesome</li>
	</ul>
