<div class="container">
	<div class="panel panel-default">
		<div class="panel-heading">
			<h1>Community Statistics</h1>
		</div>
		<div class="panel-body">
			<h2>Number of users</h2>
			<%= line_chart User.group_by_day(:created_at).count %>
		</div>
	</div>
</div>