<%= render "layouts/navbar" %>
<div class="container">
	<div class="jumbotron" style="position: relative; margin-top: -10px;">
    <center>
		<h1>PHR SYSTEM</h1>
		<h2>Your health records - anywhere</h2>
		<p><%= link_to "Get Started Today!", new_user_registration_path, class: "btn btn-lg btn-primary" %>
		</p>
    </center>
	</div>
  
  <div class="panel panel-default">
    <div class="panel-body">
      <div class="row">
        <div class="col-md-4">
          <center>
            <i style="text-shadow: 3px 2px 0px #fff, 7px 6px 0px rgba(0, 0, 0, 0.15);" class="text-primary fa fa-plus-square fa-5x"></i>
            <h1>Medication Reviews</h1>
            <p class="lead">Read reviews from people who have similar issues</p>
          </center>
        </div>
        <div class="col-md-4">
          <center>
            <i  style="text-shadow: 3px 2px 0px #fff, 7px 6px 0px rgba(0, 0, 0, 0.15);" class="text-danger fa fa-medkit fa-5x"></i>
            <h1>Comprehensive Catalogs</h1>
            <p class="lead">Organize your health information in one secure place</p>
          </center>
        </div>
        <div class="col-md-4">
          <center>
            <i  style="text-shadow: 3px 2px 0px #fff, 7px 6px 0px rgba(0, 0, 0, 0.15);" class="text-success fa fa-lock fa-5x"></i>
            <h1>Private By Default</h1>
            <p class="lead">Your info will always be kept safe and private</p>
          </center>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col-md-4">
          <center>
            <i  style="text-shadow: 3px 2px 0px #fff, 7px 6px 0px rgba(0, 0, 0, 0.15);" class="text-warning fa fa-eye-slash fa-5x"></i>
            <h1>No Advertising</h1>
            <p class="lead">We will never allow targeted advertising</p>
          </center>
        </div>
        <div class="col-md-4">
          <center>
            <i  style="text-shadow: 3px 2px 0px #fff, 7px 6px 0px rgba(0, 0, 0, 0.15);" class="text-success fa fa-group fa-5x"></i>
            <h1>Shared Catalogs</h1>
            <p class="lead">Share what data you choose to whoever you want: doctors, family, or friends</p>
          </center>
        </div>
        <div class="col-md-4">
          <center>
            <i  style="text-shadow: 3px 2px 0px #fff, 7px 6px 0px rgba(0, 0, 0, 0.15);" class="fa fa-bar-chart-o text-primary fa-5x"></i>
            <h1>See Trends</h1>
            <p class="lead">Analyze your health data by comparing data sets</p>
          </center>
        </div>
      </div>
    </div>
  </div>
  <hr>
	<div class="mastfoot">
		<div class="inner text-center">
			<h4>PHR SYSTEM - Developed and Maintained by  &copy;  <a class="btn-link" href=""></h4>
			</div>
		</div>

	</div>

</div>

</div>