<div class="container">
  <div class="panel panel-default">
    <div class="panel-body">
      
      <h1>Roadmap</h1>
      <p class="lead">This is our roadmap for PHR SYSTEM. The features are listed in no particular order. We feel these features are absolutely essential to providing an excellent experience in understanding and interacting with your health information. We want to build a health system that can provide strategy for your health, rather than simply providing an archive of your data. 
      <ul>
        <li>
          <p class="lead">
          Medication calendar, reminders, and tracking
          </p>
        </li>
        <li>
          <p class="lead">
          Immunization history and smart recommendation
          </p>
        </li>
        <li>
          <p class="lead">
          Appointment scheduling
          </p>
        </li>
      </ul>
    </div>
  </div>
</div>