<div class="container">
	<div class="panel panel-default">
		<div class="panel-body">
<h1>Editing ko_medication</h1>

<%= render 'form' %>

<%= link_to 'Show', @ko_medication %> |
<%= link_to 'Back', ko_medications_path %>
