<%= render partial: 'layouts/profile_nav', object: @user %>
<div class="container">
	<div class="panel panel-default">
		<div class="panel-heading">
			<h2>Data Points</h2>
		</div>	
		<div class="panel-body">
			Tracking data for <%= @tracker.medication.name %>
			
		</div>	