<%= render partial: 'layouts/profile_nav', object: @user %>
<div class="container">
	<div class="panel panel-default">
		<div class="panel-heading">
			<h2>
				<strong>Fitness Activity</strong>
				<button class="btn btn-default pull-right" data-toggle="modal" data-target="#myModal">
					New Activity
				</button>
			</h2>
		</div>
		<div class="panel-body">
		</div>
	</div>
</div>